*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.game-board {
    border: 3px solid #333;
    width: 80%;
    height: 600px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.knight {
    width: 85px;
    position: absolute;
    bottom: 0px;
    left:300px;
}
.jump {
    animation: jump 1.25s;
}
.enemy {
    width: 120px;
    position: absolute;
    bottom: 0;
    animation: enemymove 3.5s infinite linear;
      
}

/* #canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}
#canvas img {
    width: 100%;
    height: 100%;
} */


@keyframes cenario {
    from{
        left: 100%;
    }
    to{
        left: -100%;
    }
}

@keyframes jump {
    0%{
        bottom: 0;
    }
    38%{
        bottom:140px;
    }
    50%{
        bottom:145px
    }
    60%{
        bottom: 140px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes enemymove {
    from{
        left: 100%;
    }
    to{
        left: -10%;
    }
}